.product {
   width: 100%;
   height: 140px;
   padding: 10px 15px;
   display: flex;
   border-bottom: 1px solid black;
   align-items: center;

   &__img {
      display: block;
      width: 18%;
      margin: 0 25px 0 0;
   }

   &__descr {
      display: flex;
      align-items: center;
   }

   &__name {
      width: 250px;
      font-size: 24px;
      line-height: 28px;
      margin: 0 10px 0 0;
   }

   &__price {
      font-weight: 500;
      font-size: 19px;
   }

   &__select {
      display: block;
      margin: -10px 20px 0 20px;
   }

   &__remove {
      display: block;
      margin: -10px 0 0 0;
      font-size: 20px;
         
   &:hover {
      color: red;
      transition: 0.3s;
   }
   }

}